body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.border-color {
    background-color: #4218e8 !important;
}

.border-color-fix {
    background-color: #1888e8 !important;
}

.searchbar {
    border: 1px solid #CCC;
    background: white;
    color: #e74c3c;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.search_input {
    border: 0;
    outline: 0;
    caret-color: transparent;
    line-height: 30px;
    transition: width 0.4s linear;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.search_icon {
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    table-layout: fixed;
}

mat-header-cell,
mat-cell {
    padding-left: 10px;
    padding-right: 10px;
}

.mat-elevation-z8 {
    overflow-y: auto;
    overflow-x: auto;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.mobile-label {
    display: none;
}

@media(max-width: 768px) {
    .mobile-label {
        width: 100px;
        display: inline-block;
        font-weight: bold;
    }
    .mat-header-row {
        display: none;
    }
    .mat-row {
        flex-direction: column;
        align-items: start;
        padding: 8px 24px;
    }
}

.mobile-view-close {
    display: none;
}

.mobile-view-open {
    display: initial;
}

@media(max-width: 768px) {
    .mobile-label {
        width: 100px;
        display: inline-block;
        font-weight: bold;
    }
    .mat-header-row {
        display: none;
    }
    .mat-row {
        flex-direction: column;
        align-items: start;
        padding: 8px 24px;
    }
    .mobile-view-close {
        display: initial;
    }
    .mobile-view-open {
        display: none;
    }
}