<div class="d-flex" id="wrapper">
    <div class="bg-light border-right border-color" id="sidebar-wrapper">
        <div class="sidebar-heading">
            <p style="color:white;    font-size: xxx-large;"><span style="text-decoration: underline;">LN</span>VR</p>
        </div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-light border-color-fix">
                <p style="color:white;">
                    <i class="fa fa-home" aria-hidden="true" style="padding-right: 10px;"></i>Home Page</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-light border-color">
                <p style="color:white;">
                    <i class="fa fa-delicious" aria-hidden="true" style="padding-right: 10px;"></i>Dashboard</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-light border-color">
                <p style="color:white;">
                    <i class="fa fa-users" aria-hidden="true" style="padding-right: 10px;"></i>Password</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-light border-color">
                <p style="color:white;">
                    <i class="fa fa-question-circle" aria-hidden="true" style="padding-right: 10px;"></i>Help</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-light border-color">
                <p style="color:white;">
                    <i class="fa fa-cog" aria-hidden="true" style="padding-right: 10px;"></i>Settings</p>
            </a>
        </div>
    </div>

    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle"><span class="navbar-toggler-icon"></span></button>
            <div class="navbar-expand-lg" style="padding-left: 10px;">
                <div class="searchbar">
                    <input class="search_input" type="text" name="" placeholder="Search...">
                    <a href="#" class="search_icon"><i class="fa fa-search" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="ml-auto mt-2 mt-lg-0" style="padding-left: 10px;">
                <i class="fa fa-bell" aria-hidden="true"></i>
                <img src="/assets/Images/angular_red.jpeg" width="60" height="40" class="rounded-circle">
            </div>
        </nav>

        <div class="container-fluid" [class.isMobile]>
            <div class="col-md-12" class="mobile-view-open">
                <div class="row" style="padding-top: 50px;text-align: center;">
                    <div class="col-lg-3 col-md-2 col-sm-6">
                        <p style="padding-right: 10px;padding-top: 5px; font-size: 30px;">Records</p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="row">
                            <div class="col-sm-2" style="padding-top: 5px;">
                                <p style="text-decoration: underline;color: blue;padding-right: 10px;">Import</p>
                            </div>
                            <div class="col-sm-2" style="padding-top: 5px;">
                                <p style="text-decoration: underline;color: blue;padding-right: 10px;">Export</p>
                            </div>
                            <div class="col-sm-8" style="padding-top: 5px;">
                                <div class="searchbar">
                                    <input style="font-size: x-small;line-height: initial;" class="search_input" type="text" name="" placeholder="Search Record details...">
                                    <a href="#" class="search_icon"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6" style="padding-top: 5px;">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card" style="border:0vh">
                                    <div class="searchbar">
                                        <input class="search_input" style="font-size: 10px;width: 44px;line-height: initial;" type="text" name="" placeholder="Migrated">
                                        <a href="#" class="search_icon" style="color: black;"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="searchbar">
                                    <input class="search_input" style="font-size: 10px;width: 44px;line-height: initial;" type="text" name="" placeholder="Room 01">
                                    <a href="#" class="search_icon" style="color: black;"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-6" style="padding-top: 5px;">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="searchbar">
                                    <input class="search_input" style="font-size: 10px;width: 70px;line-height: initial;" type="text" name="" placeholder="Building 001">
                                    <a href="#" class="search_icon" style="color: black;"><i class="fa fa-times" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="searchbar">
                                    <input class="search_input" style="font-size: 10px;width: 70px;line-height: initial;" type="text" name="" placeholder="Floor 1">
                                    <a href="#" class="search_icon" style="color: black;"><i class="fa fa-times" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="searchbar">
                                    <input class="search_input" style="font-size: 10px;width: 70px;line-height: initial;" type="text" name="" placeholder="Room 01">
                                    <a href="#" class="search_icon" style="color: black;"><i class="fa fa-times" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" class="mobile-view-close">
                <div class="row" style="padding-top: 50px;text-align: center;">
                    <div class="col-lg-3 col-md-2 col-sm-6">
                        <p style="padding-right: 10px;padding-top: 5px; font-size: 30px;">Records</p>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-2" style="padding-top: 5px;">
                                <p style="text-decoration: underline;color: blue;padding-right: 10px;">Import</p>
                            </div>
                            <div class="col-sm-2" style="padding-top: 5px;">
                                <p style="text-decoration: underline;color: blue;padding-right: 10px;">Export</p>
                            </div>
                            <div class="col-sm-8" style="padding-top: 5px;">
                                <div class="searchbar">
                                    <input style="font-size: x-small;line-height: initial;" class="search_input" type="text" name="" placeholder="Search Record details...">
                                    <a href="#" class="search_icon"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-top: 5px;">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card" style="border:0vh">
                                    <div class="searchbar">
                                        <input class="search_input" style="font-size: 10px;width: 44px;line-height: initial;" type="text" name="" placeholder="Migrated">
                                        <a href="#" class="search_icon" style="color: black;"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="searchbar">
                                    <input class="search_input" style="font-size: 10px;width: 44px;line-height: initial;" type="text" name="" placeholder="Room 01">
                                    <a href="#" class="search_icon" style="color: black;"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-top: 5px;">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="searchbar">
                                    <input class="search_input" style="font-size: 10px;width: 70px;line-height: initial;" type="text" name="" placeholder="Building 001">
                                    <a href="#" class="search_icon" style="color: black;"><i class="fa fa-times" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="searchbar">
                                    <input class="search_input" style="font-size: 10px;width: 70px;line-height: initial;" type="text" name="" placeholder="Floor 1">
                                    <a href="#" class="search_icon" style="color: black;"><i class="fa fa-times" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="searchbar">
                                    <input class="search_input" style="font-size: 10px;width: 70px;line-height: initial;" type="text" name="" placeholder="Room 01">
                                    <a href="#" class="search_icon" style="color: black;"><i class="fa fa-times" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="padding: 15px;" [class.isMobile]>
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort>
                        <ng-container matColumnDef="select">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="recorderName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Recorder Name</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span mat-sort-header class="mobile-label">Recorder Name:</span>{{element.recorderName}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="migrationStatus">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Migration Status</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span mat-sort-header class="mobile-label">Migration Status:</span>{{element.migrationStatus}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="workStation">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>workstation</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span mat-sort-header class="mobile-label">workstation:</span>{{element.workStation}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="recordStatus">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Record Status</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span mat-sort-header class="mobile-label">Record Status:</span>
                                <p *ngIf="element.recordStatus === 'ONLINE'">{{element.recordStatus}}</p>
                                <p *ngIf="element.recordStatus === 'OFFLINE'" style="color:coral">{{element.recordStatus}}</p>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Action">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="mobile-label"></span><button class="btn btn-remove"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                        </mat-row>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>